.custom::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

.custom::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 100vh;
}

.custom::-webkit-scrollbar-thumb:hover {
  background-color: #ededed;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
